@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url('Peb.png');
    background-size: cover;
    color: white;
    margin: 0;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color:white;
    text-align: center;
}
form {
    text-align: center;
    color: white;
}
a:link
{
   color: #fb3f00;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   padding: 0px;
}
a:visited
{
   color: #8a2200;
   text-decoration: none;
}
a:hover
{
   color: #ffffff;
   text-decoration: none;
}
a:active
{
   color: #fb3f00;
   text-decoration: none;
}
#forecastResults {
    display: flex !important;
    flex-wrap: wrap;
}
#weatherResults {
    text-align: center;
    margin: auto;
}
#forecastOne {
    font-family: 'Scheherazade New', serif;
    text-align: center;
    padding: 10px;
}
.container {
    min-height: 600px;
    width: 100%;
    text-align: center;
    
}
.header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    text-align: left;
}
.footer {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
}
.logo {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
}
.logolarge {
    display: block;
    max-width:150px;
    max-height:95px;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
}
.home {
    width: 60%;
    padding-top: 100px;
    display: inline-block;
}
.bg-light {
    background-color: #b5bbc400 !important;
}